.company {
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.company-header {
    position: sticky;
    top: 70px;
    z-index: 99;
    background: #ebebeb;
    border-bottom: 1px solid #0000000d;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.nav-item {
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.nav-item-active {
    background: #58b038;
    color: white;
}

.content {
    display: flex;
}

.categories-area {
    position: sticky;
    display: inline-flex;
    flex-direction: column;
    top: 120px;
    height: 100%;
    padding: 10px;
}

.company-image {
    width: 250px;
}

.company-info-area {
    padding: 10px;
}

.categories {
    color: gray;
}

.category-item {
    padding: 15px;
    cursor: pointer;
}

.category-item:not(.active-category):hover {
    color: orange;
}

.active-category {
    background: orange;
    color: white;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
}

.accordion {
    display: none;
    position: sticky;
    top: 141px;
    z-index: 50;
}

.dish-card {
    max-width: 33.3%;
    min-width: 340px;
}

.dish-card-placeholder {
    width: 33%;
}

.company-description {
    font-size: 17px;
    line-height: 1.85;
}

.description-header {
    font-weight: 100;
}

.misk {
    display: block;
    padding: 5px 0;
}

@media (max-width: 1325px) {
    .dish-card {
        max-width: 50%;
    }

    .dish-card-placeholder {
        width: 50%;
    }
}

@media (max-width: 990px) {
    .categories-area {
        display: none;
    }

    .accordion {
        display: block;
    }

    .content {
        flex-direction: column;
    }
}

@media (max-width: 715px) {
    .menu {
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .dish-card {
        width: 100%;
        min-width: 320px;
        padding: 10px 0;
    }

    .dish-card-placeholder {
        width: 100%;
        padding: 10px 0;
    }
}
