/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    overflow-y: scroll;
}

button {
    outline: none;
    cursor: pointer;
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
}

.scroll-block {
    overflow: hidden;
    padding-right: 14px;
}

.scroll-block .header {
    background: olive;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
